<div class="board">
    <img   src=  "/assets/sheet.jpg"  style="width: 1125px;height: 500px;" >
    <button [ngStyle]="{'position':'absolute','top':600+'px','left':800+'px'}"nbButton outline status="danger" (click)="generate()" >Start/Stop</button>
<mat-slider min="200" max="2000" step="200" [(ngModel)]="noteime"></mat-slider>
</div>
<main class="board" >
 
<br>
 
   <app-rand 
       *ngFor="let val of note ; let i = index" 
        [xvalue]="i"
        [yvalue]="ynum[i]"
        [xblue]="xblue"
        [yblue]="yblue"
        > 

    </app-rand>
    
</main>
{{ynum}}

<div id="vf"></div>
