<!-- <div id="rau"></div> -->
<!-- <img   src=  "/assets/sheet.jpg"  style="width: 1125px;height: 500px;" > -->

<!-- <mat-slider min="200" max="2000" step="200" [(ngModel)]="noteime"></mat-slider> -->

<div style="align-items: center;" [ngStyle]="{'position':'relative','top':0+'px','left':0+'px'}">

    <div id="dau"></div>

    <app-keyboard></app-keyboard>

    <input id="speedm" #speed2 type="range" min="1" max="200" value="72" (input)="g_speed(speed2,smoth)"
        [ngStyle]="{'position':'absolute','top':250+'px','left':900+'px'}">
    <input id="smoth" #smoth type="range" min="1" max="17" value="5" (input)="g_speed(speed2,smoth)"
        [ngStyle]="{'position':'absolute','top':300+'px','left':900+'px'}">

    <p [ngStyle]="{'position':'absolute','top':250+'px','left':500+'px'}">speed= {{noteime}} npm</p>
    <p [ngStyle]="{'position':'absolute','top':300+'px','left':500+'px'}">smothness= {{smothness}}</p>

    <button id="Start/Stop" [ngClass]="{'green' : !generate_on, 'red': generate_on}"
        [ngStyle]="{'position':'absolute','top':260+'px','left':800+'px'}" (click)="toggleStart()"
        style="width: 60px;height: 40px;border-radius: 10px;">{{start_stop}}</button>
</div>
<!-- (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()" -->



<div [ngStyle]="{'position':'absolute','top':700+'px','left':50+'px'}" class="board">

    {{pleyer_note}}

    ff
    ff
</div>
<!-- <main class="board" >
 
<br>
 
   <app-rand 
       *ngFor="let val of note ; let i = index" 
        [xvalue]="i"
        [yvalue]="ynum[i]"
        [xblue]="xblue"
        [yblue]="yblue"
        > 

    </app-rand>
    
</main>
 -->